@model ThuNghiemLan7.Models.KhachHang

@{
    ViewBag.Title = "Delete";
}

<div id="page-wrapper">
    <h3>Bạn có muốn xóa khách hàng này?</h3>
    <div>
        <h4>Khách hàng có mã: <strong>@Model.MaKhachHang</strong></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDangNhap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenKhachHang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoDienThoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index", "KhachHangs", new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>


