@model ThuNghiemLan7.Models.NhanVien

@{
    ViewBag.Title = "Details";
}

<div id="page-wrapper">
    <div>
        <h4>Nhân viên có mã: <strong>@Model.MaNhanVien</strong></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChucVu.TenChucVu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDangNhap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenNhanVien)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", "NhanViens", new { id = Model.MaNhanVien.Trim() }, new { @class = "btn btn-default glyphicon glyphicon-edit" }) |
        @Html.ActionLink("Quay lại", "Index", "NhanViens", new { @class = "btn btn-primary" })
    </p>

</div>

